In [1]:
# default_exp utils.pandas_hacks

In [2]:
#export
from capetools.imports import *

# Pandas functions and hacks
> Useful methods to manipulate pandas Dataframes and Timeseries data

In [44]:
#hide
from nbdev.showdoc import *

In [45]:
DATAPATH = Path.cwd().parent/'data'
DATAPATH.ls()

(#1) [Path('/home/tc256760/Documents/lspv_dataAnalytics/data/sample_data.hdf')]

In [46]:
df = pd.read_hdf(DATAPATH/'sample_data.hdf')

In [47]:
df.head()

,temp_air,wind_speed,wind_dir,ghi,dni,dhi,ghi30,ref_cell_30,pressure,humidity
Date UTC,,,,,,,,,,
2019-01-01 00:00:00+00:00,4.39,1.87,230.1,-0.83,0.0,-0.83,-1.17,0.0,1004.92,86.8
2019-01-01 01:00:00+00:00,4.33,2.87,228.9,-0.93,0.0,-0.83,-1.06,0.0,1004.94,86.8
2019-01-01 02:00:00+00:00,4.29,2.86,229.4,-0.83,0.0,-0.83,-1.17,0.0,1004.68,86.7
2019-01-01 03:00:00+00:00,4.15,2.04,186.0,-0.83,0.0,-0.83,-1.06,0.0,1003.99,85.7
2019-01-01 04:00:00+00:00,3.85,1.91,200.9,-0.72,0.0,-0.83,-0.85,0.0,1003.76,87.5

## Reindexing

In [48]:
#export
def group_monthly(df: Union[DataFrame, Series], year=2019):
    "Group DataFrame on a monthly basis"
    return (df.groupby([lambda x: x.year, lambda x: x.month]).sum()).loc[year,:]

In [49]:
df_monthly = group_monthly(df)
df_monthly

,temp_air,wind_speed,wind_dir,ghi,dni,dhi,ghi30,ref_cell_30,pressure,humidity
1,2069.29,1435.01,108055.89,34917.68,38239.26,12362.45,51715.35,48610.01,736835.33,60544.44
2,3239.50,1006.93,113466.64,72346.55,110533.67,22688.93,109435.71,102650.54,669755.92,54066.06
3,6729.26,1553.95,118829.39,115350.27,130062.69,43622.62,145409.34,135521.01,732658.25,52248.47
4,8610.21,1226.82,105979.29,137613.23,107280.93,66850.14,155924.54,145176.13,708537.10,48822.63
5,10545.47,1512.52,95941.20,168002.63,145783.34,67029.82,173376.89,160543.15,734502.29,52783.08
6,15505.47,1005.39,115577.22,200651.15,189675.04,64093.70,201443.65,188714.88,710011.12,49718.50
7,-483270.44,-498833.10,-408692.31,-262096.18,-275386.74,-497539.29,-268543.55,273642.34,702204.35,42311.47
8,16449.18,1072.49,114600.98,173493.05,170336.12,49653.17,190850.08,182835.74,736532.79,51431.98
9,13177.18,1134.01,109943.21,123016.56,126421.37,49262.50,150130.23,144564.05,714218.45,52099.68
10,10583.85,1985.31,121106.32,73931.99,78220.40,36173.01,99013.16,95937.87,736211.77,64640.29
11,5482.12,1092.13,134346.88,35404.90,31525.58,23117.04,49015.66,47401.82,705604.83,65695.18
12,4540.22,15331.70,-10807.86,24968.79,32395.43,14600.06,39090.45,37786.02,736583.13,65735.71

In [50]:
#export
def reindex_monthly_en(data):
    "Rename index to months"
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec']
    if isinstance(data, pd.DataFrame):
        return pd.DataFrame(data.values, index=index, columns=data.columns )
    if isinstance(data, pd.Series):
        return pd.Series(data.values, index=index, name=data.name)

In [51]:
reindex_monthly_en(df_monthly)

,temp_air,wind_speed,wind_dir,ghi,dni,dhi,ghi30,ref_cell_30,pressure,humidity
Jan,2069.29,1435.01,108055.89,34917.68,38239.26,12362.45,51715.35,48610.01,736835.33,60544.44
Feb,3239.50,1006.93,113466.64,72346.55,110533.67,22688.93,109435.71,102650.54,669755.92,54066.06
Mar,6729.26,1553.95,118829.39,115350.27,130062.69,43622.62,145409.34,135521.01,732658.25,52248.47
Apr,8610.21,1226.82,105979.29,137613.23,107280.93,66850.14,155924.54,145176.13,708537.10,48822.63
May,10545.47,1512.52,95941.20,168002.63,145783.34,67029.82,173376.89,160543.15,734502.29,52783.08
Jun,15505.47,1005.39,115577.22,200651.15,189675.04,64093.70,201443.65,188714.88,710011.12,49718.50
Jul,-483270.44,-498833.10,-408692.31,-262096.18,-275386.74,-497539.29,-268543.55,273642.34,702204.35,42311.47
Aug,16449.18,1072.49,114600.98,173493.05,170336.12,49653.17,190850.08,182835.74,736532.79,51431.98
Sep,13177.18,1134.01,109943.21,123016.56,126421.37,49262.50,150130.23,144564.05,714218.45,52099.68
Oct,10583.85,1985.31,121106.32,73931.99,78220.40,36173.01,99013.16,95937.87,736211.77,64640.29
Nov,5482.12,1092.13,134346.88,35404.90,31525.58,23117.04,49015.66,47401.82,705604.83,65695.18
Dec,4540.22,15331.70,-10807.86,24968.79,32395.43,14600.06,39090.45,37786.02,736583.13,65735.71

In [52]:
#export
def monthly(data, year=2019):
    "Group and reindex a DataFrame or Series monthly"
    return reindex_monthly_en(group_monthly(data, year))

## Scaling functions
We regularly need to scale data, these are basic fucntions that I use all the time (for plotting different quantities together for instance)

In [53]:
#export
def _normalize(df: Union[Series, DataFrame], per_column:bool=False):
    "Scales dataframe to have mean 0 and std 1"
    return (df-df.stack().mean())/df.stack().std() if per_column else (df-df.mean())/df.std()

def _min_max(df: Union[Series, DataFrame], per_column:bool=False):
    "Scales dataframe between 0 and 1"
    return (df-df.stack().min())/(df.stack().max()-df.stack().min()) if per_column else (df-df.min())/(df.max()-df.min())

We can now `patch` this methods to the `pd.DataFrame` class

In [54]:
#export
@patch
def normalize(self:DataFrame): return _normalize(self)
@patch
def normalize(self:Series): return _normalize(self)
@patch
def min_max(self:DataFrame): return _min_max(self)
@patch
def min_max(self:Series): return _min_max(self)

some quick tests

In [55]:
import string
abc = string.ascii_lowercase
def create_random_df(size: tuple=(10,2)): return DataFrame(np.random.random(size), columns=list(abc[0:size[1]]))
df = create_random_df()
test_close(df.normalize().mean(), 0)
test_close(df.normalize().std(), 1)
test_close(df.min_max().min(), 0)
test_close(df.min_max().max(), 1)

A more elegant way of doing `slice(None)`

In [56]:
#export
All = slice(None)

In [57]:
#export
def flatten_cols(df, to_str=False):
    "Flattens the columns MultiIndex"
    df = df.copy()
    flat_cols = df.columns.to_flat_index()
    if to_str:
        df.columns = ['.'.join(c) for c in flat_cols]
    else:
        df.columns = flat_cols
    return df

## Profiling memory usage of large `DataFrames`
When reading data from `.csv` files, often we need to cast variables to the correct type (you rarely need 64 bit variables). This handy methods give you the memory usage and a quick reduce to cast down variables on the `DataFrame`.

In [58]:
#export
def mem_usage(pandas_obj):
    "Detailed Memory usage of pandas object"
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

def reduce_mem_usage(df):
    df_float = df.select_dtypes(include=['float'])
    converted_float = df_float.apply(pd.to_numeric,downcast='float')
    optimized_df = df.copy()
    optimized_df[converted_float.columns] = converted_float
    print(f'Reducing Memory->before: {mem_usage(df)}, after: {mem_usage(optimized_df)}')
    return optimized_df

 Casting down to `np.float32`

In [59]:
df = create_random_df((1000,20))
small_df = reduce_mem_usage(df)
print(f'before: {mem_usage(df)}, after: {mem_usage(small_df)}')

Reducing Memory->before: 0.15 MB, after: 0.08 MB
before: 0.15 MB, after: 0.08 MB

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
a    1000 non-null float64
b    1000 non-null float64
c    1000 non-null float64
d    1000 non-null float64
e    1000 non-null float64
f    1000 non-null float64
g    1000 non-null float64
h    1000 non-null float64
i    1000 non-null float64
j    1000 non-null float64
k    1000 non-null float64
l    1000 non-null float64
m    1000 non-null float64
n    1000 non-null float64
o    1000 non-null float64
p    1000 non-null float64
q    1000 non-null float64
r    1000 non-null float64
s    1000 non-null float64
t    1000 non-null float64
dtypes: float64(20)
memory usage: 156.4 KB

In [61]:
small_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
a    1000 non-null float32
b    1000 non-null float32
c    1000 non-null float32
d    1000 non-null float32
e    1000 non-null float32
f    1000 non-null float32
g    1000 non-null float32
h    1000 non-null float32
i    1000 non-null float32
j    1000 non-null float32
k    1000 non-null float32
l    1000 non-null float32
m    1000 non-null float32
n    1000 non-null float32
o    1000 non-null float32
p    1000 non-null float32
q    1000 non-null float32
r    1000 non-null float32
s    1000 non-null float32
t    1000 non-null float32
dtypes: float32(20)
memory usage: 78.2 KB

# Exports -

In [62]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_utils.core.ipynb.
Converted 01_utils.pandas_hacks.ipynb.
Converted 03_utils.matlab_io.ipynb.
Converted 04_utils.missing.ipynb.
Converted 05_utils.plot.ipynb.
Converted index.ipynb.